In [14]:
# Q1 Given are some following variables containing data
#var1 = ‘ ‘
#var2 = ‘[ DS , ML , Python]’
#var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#var4 = 1.

In [3]:
type('')

str

In [8]:
type ('[ DS , ML , Python]')

str

In [11]:
type([ 'DS' , 'ML' , 'Python' ])

list

In [15]:
type(1)

int

In [16]:
# Create a list of length 10 of your choice containing multiple types of data. 
#Using for loop print the element and its data type.

In [20]:
A=[2,3,4,5,6,'Aditya',67.56, False, 3+2j,8]

In [25]:
for i in A:
    print(i)
    print(type(i))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
Aditya
<class 'str'>
67.56
<class 'float'>
False
<class 'bool'>
(3+2j)
<class 'complex'>
8
<class 'int'>

In [1]:
# Create a list containing 25 int type data. Using for loop and 
# if-else condition print if the element is divisible by 3 or not.

In [4]:
Z=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in Z:
    if i%3==0:   # means if the reminder is '0', that number is divisible by 3.
        print(i)

3
6
9
12
15
18
21
24

In [5]:
# What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [7]:
B=('aditya')

In [9]:
B[2]='p'   # string is imutable

TypeError: 'str' object does not support item assignment

In [2]:
D=['Aditya',2,5,True,3,9]

In [6]:
type(D)

list

In [9]:
D[2]='Khajuria'   # Mutable object (List)

In [10]:
D

['Aditya', 2, 'Khajuria', True, 3, 9]